<div class="container-fluid" ng-cloak>
    <div class="row">
        <!-- nav example -->
        <div class="bs-example">
            <nav role="navigation" class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" ng-click="setCurrentCategory(null)" class="navbar-brand glyphicon glyphicon-phone-alt"> ContactManager</a>
                </div>
                <div id="navbarCollapse" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li ng-repeat="category in categories" ng-class="{'active':isCurrentCategory(category)}">
                            <a href="#" ng-click="setCurrentCategory(category)">{{category.Name}}</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>Company Filter: </li>
                        <li><input ng-model='companyFilter' ng-trim='false' class="form-control fInput"></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-lg-12 col-md-12 main">
            <div ng-if="!isEditMode && currentCategory != null" class="col-lg-12 center-block">
                <button type="button" class="btn btn-link" ng-click="createContact()">
                    <span class="glyphicon glyphicon-plus"></span>
                    Create Contact
                </button>
            </div>
            <div ng-if="isEditMode == false" class="col-lg-4" ng-class="{'active':isSelectedContact(contact.ContactId)}" ng-repeat="contact in contacts | filter:{Category:{CategoryId:currentCategory.CategoryId}} | filter:{CompanyName:companyFilter} | orderBy:['LastName','FirstName'] ">
                <div class="img-rounded contactBoxes">
                    <button type="button" ng-click="deleteContact(contact)" class="btn btn-default btn-xs smBtn" title="Delete Contact"><span class="glyphicon glyphicon-remove"></span></button>
                    <button type="button" ng-click="editContact(contact)" class="btn btn-default btn-xs smBtn" title="Edit Contact"><span class="glyphicon glyphicon-pencil"></span></button>
                    {{contact.FirstName}} {{contact.MiddleName}} {{contact.LastName}}<br />
                    Company: {{contact.CompanyName || "N/A"}}<br />
                    Address: {{contact.Address || "N/A"}}<br />
                    Email: <a href="mailto:{{contact.Email}}">{{contact.Email}}</a><br />
                    Cell: {{contact.CellPhone | telephone}}<br />
                    Work: {{contact.WorkPhone || "N/A" | telephone}}<br />
                    Birthdate: {{contact.Birthdate.getUTCFullYear()==1 ? '' : contact.Birthdate | date:'MMMM dd, yyyy'}}
                </div>
            </div>
            <div class="clearfix"></div>
            <h4 ng-if="isEditMode && !isCreating()">Editing {{editedContact.FirstName}} {{editedContact.LastName}}</h4>
            <form class="edit-form" ng-show="isEditMode" role="form" ng-submit="saveContact(editedContact)">
                <div class="form-group col-sm-4">
                    <label for="newContactFName"><span></span>First Name</label>
                    <input type="text" class="form-control" id="newContactFName" ng-model="editedContact.FirstName" placeholder="Enter First Name" required>
                </div>
                <div class="form-group col-sm-4">
                    <label for="newContactMName">Middle Name</label>
                    <input type="text" class="form-control" id="newContactMName" ng-model="editedContact.MiddleName" placeholder="Enter Middle Name">
                </div>
                <div class="form-group col-sm-4">
                    <label for="newContactLName"><span></span>Last Name</label>
                    <input type="text" class="form-control" id="newContactLName" ng-model="editedContact.LastName" placeholder="Enter Last Name" required>
                </div>
                <div class="form-group col-sm-6">
                    <label for="newContactEmail"><span></span>Email Address</label>
                    <input type="email" class="form-control" id="newContactEmail" ng-model="editedContact.Email" placeholder="Enter Email" maxlength="100" required>
                </div>
                <div class="form-group col-sm-6">
                    <label for="newContactConame"><span></span>Company Name</label>
                    <input type="text" class="form-control" id="newContactConame" ng-model="editedContact.CompanyName" placeholder="Enter Company" required>
                </div>
                <div class="form-group col-sm-6">
                    <label for="newContactAddress"><span></span>Address</label>
                    <input type="text" class="form-control" id="newContactAddress" ng-model="editedContact.Address" placeholder="Enter Address" required>
                </div>
                <div class="form-group col-sm-6">                    
                    <label for="newContactWphone">Work Phone</label>
                    <input type="text" class="form-control" id="newContactWphone" ng-model="editedContact.WorkPhone" placeholder="Enter Work Phone">
                </div>
                <div class="form-group col-sm-6">
                    <label for="newContactCphone">Cell Phone</label>
                    <input type="text" class="form-control" id="newContactCphone" ng-model="editedContact.CellPhone" placeholder="Enter Cell Phone">
                </div>
                <div class="form-group col-sm-6">
                    <label for="newContactBirthdate">Birthdate</label>
                    <input type="date" class="form-control" id="newContactBirthdate" ng-model="editedContact.Birthdate" placeholder="Enter Birthdate">
                </div>
                <div class="form-group col-sm-12">
                    <button type="submit" class="btn btn-info btn-lg">{{isCreating() ? 'Create' : 'Save' }}</button>
                    <button type="button" class="btn btn-default btn-lg pull-right" ng-click="isEditMode=false">Cancel</button>
                </div>
            </form>   

        </div>
    </div>